{layout name="common/wap_layout" /}
<div class="main">
	{include file="common/wap_banner_layout" /}		

			<div class="abstract">

				<div class="main-content">
					<div class="btmls tc">
						<img src="{$data.image}" alt="" width="50" height="50" />
						<!-- <div class="">
							以药企之名，重新定义食养<br /> 20年药业集团背景，相信专业的力量
						</div> -->
					</div>
					<div class="tc tm-intro">
						{$data.content}
					</div>
				</div>

				<div class="intro-video">
					<div class="tm-location-parent">
						<video id="my-video" class="video-js" controls preload="auto" width="100%"  poster="{$data.background}">
							<source src="{$data.video}" type="video/mp4">
							<p class="vjs-no-js">
								To view this video please enable JavaScript, and consider upgrading to a web browser that
								<a href="" target="_blank">supports HTML5 video</a>
							</p>
						</video>
						<img class="redundant-img" src="__ADDON__/static/wap/images/13X5.png" alt="" width="100" />
					</div>

				</div>

				<div class="main-content">
					{$data.description}
				</div>

				<!-- <div class="intro-item">
					<div class="">
						<div class="btmls tc">
							<img src="images/logos.png" alt="" width="50" height="50" />
							<div class="">
								坚持不添加<br />20年，初心未改
							</div>
						</div>
						<div class="mt20">

							<div class="grid">
								<div>
									<div class="tc">
										<img src="images/earth-2.png" alt="" width="25" height="25" />
										<div class="mt5">
											全球寻觅优质食材
										</div>
										
									</div>
									<div class="advantage-box">
										为寻找优质食材，五谷磨房的研究、发掘足迹遍布全球，在美国、智利、比利时 采购合作基地。
									</div>
								</div>
								<div>
									<div class="tc">
										<img src="images/building.png" alt="" width="25" height="25" />
										<div class="mt5">
											健康食品轻加工
										</div>
										
									</div>
									<div class="advantage-box">
										为最大限度的保留食材的新鲜度和营养价值，五谷磨房在湖北建有14万平米的无菌加工、全自动分装、冷链存储和自动化配送基地，在广西淮山产地建立了专业化的淮山生产加工基地。
									</div>
								</div>
								<div>
									<div class="tc">
										<img src="images/logo-2.png" alt="" width="25" height="25" />
										<div class="mt5">
											4000家专柜坚持品牌自营
										</div>
										
									</div>
									<div class="advantage-box">
										在产品到达用户手中的最后一公里，五谷磨房也严格把关，甄选吉之岛、沃尔玛、家乐福、山姆会员店、华润万家、百佳超市等优质连锁机构，拒绝加盟，在全国300多个城市设立近4000家品牌直营专柜。
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="main-content">
					<div class="btmls tc">
						<img src="images/earth.png" alt="" width="50" height="50" />
						<div class="">
							如果你不懂食养，<br />那就跟着老顾客，一起选禾邦
						</div>
					</div>
				</div>

				<div class="advantage-group">
					<div class="main-content">
						<div class="grid">
							<div>
								<div class="advantage-item">
									<div class="btmlss tc">
										<img src="images/user-active.png" alt="" width="25" height="25" />
										<div class="mt20">
											2000万+用户
										</div>
									</div>
									<p class="mt20 tm-df-size">
										“自然、健康、可信赖”的品牌形象为五谷磨房带来了大批拥趸，在线下拥有千万用户，线上拥有550多万注册会员，为超1600万家庭提供优质健康的天然营养食品。
									</p>
								</div>
							</div>
							<div>
								<div class="advantage-item">
									<div class="btmlss tc">
										<img src="images/up.png" alt="" width="25" height="25" />
										<div class="mt20">
											2000万+用户
										</div>
									</div>
									<p class="mt20 tm-df-size">
										“自然、健康、可信赖”的品牌形象为五谷磨房带来了大批拥趸，在线下拥有千万用户，线上拥有550多万注册会员，为超1600万家庭提供优质健康的天然营养食品。
									</p>
								</div>
							</div>
							<div>
								<div class="advantage-item">
									<div class="btmlss tc">
										<img src="images/tag.png" alt="" width="25" height="25" />
										<div class="mt20">
											2000万+用户
										</div>
									</div>
									<p class="mt20 tm-df-size">
										“自然、健康、可信赖”的品牌形象为五谷磨房带来了大批拥趸，在线下拥有千万用户，线上拥有550多万注册会员，为超1600万家庭提供优质健康的天然营养食品。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->

			</div>
			<!--slide nav-->
			<script type="text/javascript">
				var swiper2 = new Swiper('.swiper-tab-nav', {
					slidesPerView: 5,
				});
			</script>

		</div>