{layout name="common/wap_layout" /}
<div class="main">
	{include file="common/wap_banner_layout" /}			
	<div class="culture">
		<div class="main-content">
			<div class="join-item">
			<div class="join-item-h tc">
				<div>
					<img src="images/logos.png" alt="" width="40" />
				</div>
				<p>禾邦加盟预约单</p>
			</div>
			<div class="join-item-b">
				<form action="">
					<div class="input-box">
						
						<div class="input-cell tm-flex flex-align-center">
							<div class="tm-flex-head">
								<label for="input1" class="controll-label tm-icon-item">
									<span class="tm-icon">
										<img src="images/user.png" alt="" width="15" height="15"/>
									</span>
									<span class="tm-icon-label">
										姓名
									</span>
								</label>
							</div>
							<div class="tm-flex-1">
								<input id="input1" type="text" name="name" class="input-controll"/>
							</div>
						</div>
						
						<div class="input-cell tm-flex flex-align-center">
							<div class="tm-flex-head">
								<label for="input1" class="controll-label tm-icon-item">
									<span class="tm-icon">
										<img src="images/user.png" alt="" width="15" height="15"/>
									</span>
									<span class="tm-icon-label">
										电话
									</span>
								</label>
							</div>
							<div class="tm-flex-1">
								<input id="input1" type="text" name="mobile" class="input-controll"/>
							</div>
						</div>
						
						<div class="input-cell tm-flex flex-align-center">
							<div class="tm-flex-head">
								<label for="input1" class="controll-label tm-icon-item">
									<span class="tm-icon">
										<img src="images/user.png" alt="" width="15" height="15"/>
									</span>
									<span class="tm-icon-label">
										地址
									</span>
								</label>
							</div>
							<div class="tm-flex-1">
								<input id="input1" type="text" name="address" class="input-controll"/>
							</div>
						</div>
						
						<div class="input-cell">
							<div class="">
								<label for="input4" class="controll-label tm-icon-item">
									<span class="tm-icon">
										<img src="images/sun.png" alt="" width="22" height="22"/>
									</span>
									<span class="tm-icon-label">
										实力说明
									</span>
								</label>
							</div>
							<div class="">
								<textarea id="input4" class="input-controll" name="description" rows="" cols=""></textarea>
							</div>
						</div>
						
						
						<div class="input-cell">
							<div class="">
								<label for="input5" class="controll-label tm-icon-item">
									<span class="tm-icon">
										<img src="images/message.png" alt="" width="22" height="22"/>
									</span>
									<span class="tm-icon-label">
										加盟留言
									</span>
								</label>
							</div>
							<div class="">
								<textarea id="input5" class="input-controll" name="message" rows="" cols=""></textarea>
							</div>
						</div>
						
					</div>
					<div class="tc">
						<button type="button" id="formsbumit" class="tm-btn join-submit">提交</button>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#formsbumit').click(function(){
		var data = {},flag = true;
		$("form").find('input,textarea').each(function(){
			var name = $(this).attr('name');
			var value = $(this).val();
			if(name=='name'||name=='mobile'){
				if(!value){
					alert('请填入姓名 电话');
					flag = false;
					return false;
				}
			}
			data[name] = value;
		})
		if(!flag) return false;
		$.ajax({
			url:'/api/index/addJoin',
			data:data,
			type:'post',
			success:function(obj){
				if(obj.code == 1){
					alert('提交成功');
				}else{
					alert('提交失败');	
				}
			}
		})
	});
</script>