{layout name="common/wap_layout" /}
<div class="main">
	{include file="common/wap_banner_layout" /}	
	<div class="culture">
		<div class="main-content">
			{$data.content} 
			<!-- <div class="join-intro-box">
				<div class="join-img-item">
					<div class="btmls tc">
						<img src="images/persones.png" alt="" width="30" height="30" />
						<br />75%亚健康人群
					</div>
					<div class="join-img">
						<img src="images/join-1.jpg" alt="" />
					</div>
					<p class="tc"> 中国75%的人是亚健康状态，而食疗养身已成为最认可的保养方式 </p>
				</div>

				<div class="join-img-item">
					<div class="btmls tc">
						<img src="images/up.png" alt="" width="30" height="30" />
						<br />行业增长率高
					</div>
					<div class="join-img">
						<img src="images/join-2.jpg" alt="" />
					</div>
					<p class="tc"> 中国75%的人是亚健康状态，而食疗养身已成为最认可的保养方式 </p>
				</div>

				<div class="join-img-item">
					<div class="btmls tc">
						<img src="images/gold.png" alt="" width="30" height="30" />
						<br />五谷食品利润 等你来揭晓
					</div>
					<div class="join-img">
						<img src="images/join-3.jpg" alt="" />
					</div>
					<p class="tc"> 中国75%的人是亚健康状态，而食疗养身已成为最认可的保养方式 </p>
				</div>
			</div> -->
		</div>
	</div>
</div>