{layout name="common/wap_layout" /}
<div class="main">
	{include file="common/wap_banner_layout" /}		
	<div class="contact">

		<div class="contact-num">
			<p>客服热线</p><strong>{:$site['mobile']}</strong></div>
		<div class="contact-map"><!-- <img src="images/addres.jpg" alt="" title="img7.jpg" /> -->
			{$data.content}
		</div>
		<div class="contact-intro"><img src="__ADDON__/static/wap/images/logo-2.png" alt="" title="icon8.png" />
			<p class="tit">禾邦 更懂养食</p>
			<p>地址：{:$site['address']}</p>
		</div>

	</div>
</div>